.BubbleChart {
  width: 100%;

  .axes {
    .annotation {
      text {
        fill: grey;
        font-size: 1em;
        text-anchor: end;
      }

      line {
        marker-end: url(#arrow);
        stroke: grey;
      }

      rect {
        fill: var(--bg-color);
      }
    }

    .title {
      fill: currentColor;
      font-size: 1em;
      text-anchor: end;

      tspan {
        font-weight: bold;
      }
    }

    .tick {
      font-size: 0.7rem;
    }
  }

  .grid line {
    stroke: #e0e0e0;
    stroke-width: 1;
  }
}

@media (min-width: 40rem) {
  .BubbleChart {
    width: 80%;
    font-size: 0.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  .BubbleChart .grid line {
    stroke: #424242;
  }
}
