.BubbleChart {
  width: 100%;

  .axes {
    .annotation {
      text {
        fill: grey;
        font-size: 1em;
        text-anchor: end;
      }

      line {
        marker-end: url(#arrow);
        stroke: grey;
      }

      rect {
        fill: var(--bg-color);
      }
    }

    .title {
      fill: currentColor;
      font-size: 1em;
      text-anchor: end;

      tspan {
        font-weight: bold;
      }
    }

    .tick {
      font-size: 0.7rem;
    }
  }

  .grid line {
    stroke: #e0e0e0;
    stroke-width: 1;
  }

  .bubble {
    &[data-continent='Africa'] {
      fill: #452a6cc0;
    }
    &[data-continent='Asia'] {
      fill: #843523c0;
    }
    &[data-continent='Europe'] {
      fill: #274c86c0;
    }
    &[data-continent='North America'],
    &[data-continent='Oceania'],
    &[data-continent='South America'] {
      fill: #c6b76cc0;
    }

    &:hover {
      stroke: black;
      stroke-width: 2;
    }
  }
}

@media (min-width: 40rem) {
  .BubbleChart {
    width: 80%;
    font-size: 0.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  .BubbleChart .grid line {
    stroke: #424242;
  }

  .BubbleChart .bubble[data-continent="Africa"] {
    fill: #695388bf;
  }

  .BubbleChart .bubble[data-continent="Asia"] {
    fill: #995343bf;
  }

  .BubbleChart .bubble[data-continent="Europe"] {
    fill: #4977bfbf;
  }

  .BubbleChart .bubble[data-continent="North America"],
  .BubbleChart .bubble[data-continent="Oceania"],
  .BubbleChart .bubble[data-continent="South America"] {
    fill: #b7a966bf;
  }
}
